@page "/Departments"
@inject NavigationManager Navi
<head>
    <style>
        body {
            background-color: #296648;
        }

        .Headers {
            color: #EBFFF4;
        }
    </style>
</head>

<div class="Headers">
    <h1>Departments</h1>
</div>

<div class="NewDepartment">
    <input type="text" @bind="@NewDepartment"/>
    <button @onclick="@AddDepartment">Add new department</button>
</div>

@code{
    public string NewDepartment = "";
    void AddDepartment()
    {
        
        Navi.NavigateTo("/");

    }
}
