@page "/"
@inject NavigationManager Navigation
@inject Database.dataBase db
@using Database
<!--CSS stuffs-->
<head>
    <style>
        body {
            background-color: #296648;
        }
        .Header {
            color: #EBFFF4;
            font-size: 30px;
        }
        .Contents{
            font-size: medium;
        }
        .fa-bars {
            top: 0%;
            right: 0;
            position: absolute;
            font-size: 40px;
            color: #EBFFF4;
            padding: 8px;
        }
        .Contents{
            position: absolute;
            top: 5%;
            right: 0;
            font-size: 28px;

        }
        .homebutton1 {
            height: 22px;
            width: 120px;
            top: 1%;
            right: 55%;
            position: absolute;
            font-size: 15px;
            color: #9F5600;
            background-color: #EBFFF4;
            outline: none;
            border: none;
        }
        .homebutton2 {
            position: absolute;
            top: 1%;
            right: 45%;
            font-size: 15px;
            height: 22px;
            width: 140px;
            color: #9F5600;
            background-color: #EBFFF4;
            outline: none;
            border: none;
            
        }
        .Dep{
            position: absolute;
            font-size: 40px;
            color: #EBFFF4;
            left: 2%;
            top: 5%;
        }
        .Prod{
            float: left;
            color: #9F5600;
            background-color: #EBFFF4;
            height: 150px;
            width: 150px;
            outline: none;
            border: none;
            left: 2%;
            top: 30%;
            position: relative;
            border-width: 10px;
            margin: 10px;
            font-size: x-large;
            padding-bottom: 90px;
        }

    </style>
</head>
<!--Headers-->
    <div class="Header">
        <h1>HomePage</h1>
        <p>Products</p>
    </div>
<!--Main menu buttons-->
    <div class="HomeButtons">
        <button class="homebutton1" onclick="window.location.href = 'Products'">Add product</button>
    </div>
<!--Dropdown menu-->
    <div class="Dropdown">
        <i class="fa-solid fa-bars" @onclick="() => { drop = !drop; }"></i>
        @if (drop)
            {
            <div class="Contents">
                <ul style="list-style: none;">
                    <li style="padding: 10px;">
                        <a href="Login" style="text-decoration: none; color: #EBFFF4;">Log in</a>
                    </li>
                    <li style="padding: 10px;">
                        <a href="Signin" style="text-decoration: none; color: #EBFFF4;">Sign in</a>
                    </li>
                </ul>
                
            </div>
            }

    </div>
    <div class="department">
        @foreach(Product item in db.store)
        {
            <div class="Prods">
                <button class="Prod" @onclick="() => {Nav(item);}">@item.Name</button>
            </div>

        }
    </div>
    @code{
        //define dropdown menu boollean
        bool drop = false;
        // innitialize pull request from database
        protected override async Task OnInitializedAsync()
        {
            db.GetItem();

        }
        // navigate to each product view page
        public void Nav(Product product)
        {
            Navigation.NavigateTo($"/View/{product.ProductID}");
        }

    }